<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Battleship</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"> -->
</head>
<body>
    <h1>Battleship Game</h1>
    <div id="game-board">
        <!-- Game board UI will be generated here -->
    </div>
        
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-half is-align-items-center">
                <button class = 'button' id="start-game">Start Game</button>
                <button class = 'button' id="restart-game">Restart Game</button>
            </div>
        </div>
    </section>
    <div id="message"></div>
    <script src="/static/script.js"></script>
</body>
</html>

